.header{
    background-color: rgb(226, 31, 70);
    a{
        background-color: darkorchid;
        display: flex;
        width: 150px;
        margin: 20px;
        justify-content: center;
    }
}